<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yinanchen.alfred-memos</string>
	<key>connections</key>
	<dict>
		<key>5AF46BA7-D7D0-47E6-96A6-B94C8E0A8E14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>370F552F-D1C9-4FDE-BA56-D4AA80376D63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1B7540-40EF-45B9-A132-04C931904EBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C673C20B-4616-4099-9F45-D7B8D8052080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>761FDA7F-516B-47D4-B118-F8EDC8C7D86F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E6A1C98-389E-4A51-B052-74C1E98D57F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ED2DBFB-55FB-4AD7-A3FD-CCA39A81828B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AF46BA7-D7D0-47E6-96A6-B94C8E0A8E14</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Text View</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E907B072-375C-4DF8-9E09-5EA73266FDCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>370F552F-D1C9-4FDE-BA56-D4AA80376D63</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C73A0786-F099-4DEA-8B1A-1DB0DE7BB927</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D06E15EF-7590-4D07-916A-6BAC6151960C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D06E15EF-7590-4D07-916A-6BAC6151960C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BD6306A-A4E0-4B10-BB0B-4F2D94B85C51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8D491ED-FB86-43B0-AEEF-27673BA76D38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>761FDA7F-516B-47D4-B118-F8EDC8C7D86F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>YInan Chen</string>
	<key>description</key>
	<string>Search and send your memos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Memos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⏎ Copy to Clipboard</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>5AF46BA7-D7D0-47E6-96A6-B94C8E0A8E14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>memos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading all memos and comments</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
python3 memos_list.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List all memos and comments</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8ED2DBFB-55FB-4AD7-A3FD-CCA39A81828B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:host}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C673C20B-4616-4099-9F45-D7B8D8052080</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>memohome</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Memos homepage</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B1B7540-40EF-45B9-A132-04C931904EBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E907B072-375C-4DF8-9E09-5EA73266FDCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>370F552F-D1C9-4FDE-BA56-D4AA80376D63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>memonewprivate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a new private memo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C73A0786-F099-4DEA-8B1A-1DB0DE7BB927</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3BD6306A-A4E0-4B10-BB0B-4F2D94B85C51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
python3 send_memos.py PRIVATE "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D06E15EF-7590-4D07-916A-6BAC6151960C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
python3 send_memos.py PUBLIC "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>761FDA7F-516B-47D4-B118-F8EDC8C7D86F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6E6A1C98-389E-4A51-B052-74C1E98D57F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>memonewpublic</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a new public memo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8D491ED-FB86-43B0-AEEF-27673BA76D38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Memos - Alfred Workflow

This Alfred workflow allows you to search and send [memos](https://github.com/usememos/memos) using access token (requires version &gt; 0.15)

## Prerequisites

This workflow requires Alfred version &gt; 5.5 to enable Text View

## Setup

You need to set two environmental variables:

- `host`: The base URL for your memos instance.
- `token`: Memos access token for authentication.

## Features

### 1 List and search Memos

You can search for memos containing specific words or phrases via the list memo keyword. Comments and memos are displayed with different icon and subtitle, you can filter them by adding `memo` or `comment` in your query.

On selected item:

- **Enter**: Open selected memo in your browser.
- **Cmd + Enter ** Opens a detailed text view of the memo.
- **Option + Enter** Copies the memo content to the clipboard.

### 2 Send Memos

You can send memos by entering content directly into Alfred, which will post the memo to your backend using an API. You can specify visibility (e.g., public, private) using different keywords.

## Thanks

- Comment icon created by [Smashicons - Flaticon](https://www.flaticon.com/free-icons/comment)
- Memos icon from https://www.usememos.com/</string>
	<key>uidata</key>
	<dict>
		<key>370F552F-D1C9-4FDE-BA56-D4AA80376D63</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>3BD6306A-A4E0-4B10-BB0B-4F2D94B85C51</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>5AF46BA7-D7D0-47E6-96A6-B94C8E0A8E14</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6B1B7540-40EF-45B9-A132-04C931904EBC</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>6E6A1C98-389E-4A51-B052-74C1E98D57F3</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>761FDA7F-516B-47D4-B118-F8EDC8C7D86F</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>8ED2DBFB-55FB-4AD7-A3FD-CCA39A81828B</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C673C20B-4616-4099-9F45-D7B8D8052080</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C73A0786-F099-4DEA-8B1A-1DB0DE7BB927</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D06E15EF-7590-4D07-916A-6BAC6151960C</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>E8D491ED-FB86-43B0-AEEF-27673BA76D38</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>E907B072-375C-4DF8-9E09-5EA73266FDCD</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://demo.usememos.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your memos instance URL</string>
			<key>label</key>
			<string>Host URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>host</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>memopublic</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New public memo keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keywordpublic</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>memoprivate</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>New private memo keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keywordprivate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>memos</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>List all memos keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keywordlist</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>memohome</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open memos homepage keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>homekeyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/yinan-c/alfred-memos</string>
</dict>
</plist>
